<ion-view view-title="Analytics">
    <ion-content>
        <!-- chart block -->
        <div class="row chambray-bg padding-bottom">
            <div class="col">
                <highchart config="chartConfig"></highchart>
            </div>
        </div>
        <div class="row row-no-padding">
            <div class="col databox databox-danger chambray-bg">
                <div class="databox-title">
                    Mon
                </div>
                <div class="databox-content">
                    25
                </div>
            </div>
            <div class="col databox databox-ease chambray-bg">
                <div class="databox-title">
                    Tueday
                </div>
                <div class="databox-content">
                    50
                </div>
            </div>
            <div class="col databox databox-warning chambray-bg">
                <div class="databox-title">
                    Wednesday
                </div>
                <div class="databox-content">
                    80
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-icon-left item-icon-right chambray-bg stable">
                <i class="icon ion-android-phone-portrait stable"></i>
                Smart Phones
                <i class="icon ion-arrow-graph-up-right stable"></i>
            </div>
            <div class="item item-icon-left item-icon-right positive-bg stable">
                <i class="icon icon ion-laptop stable"></i>
                Laptops
                <i class="icon ion-arrow-graph-down-right stable"></i>
            </div>
            <div class="item item-icon-left item-icon-right calm-bg stable">
                <i class="icon icon ion-compass stable"></i>
                Compass
                <i class="icon ion-arrow-graph-down-right stable"></i>
            </div>
        </div>
    </ion-content>
</ion-view>