<ion-view view-title="Dashboard">
    <ion-content>
        <div class="card stable">
            <div class="item item-icon-left item-energized energized-bg">
                <i class="icon ion-speedometer stable"></i>
                <div class="title text-center">
                    Visitors
                </div>
            </div>
            <div class="item item-text-wrap Chetwode-blue-bg">
                <highchart config="chartConfig"></highchart>
            </div>
        </div>
    </ion-content>
</ion-view>