<ion-view view-title="Users">
    <ion-content>
		<div class="item item-input-inset">
			  <label class="item-input-wrapper" id="search-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="searchKey.title" ng-change="search()">
			  </label>
			</div>
        <ion-list>
            <ion-item ng-repeat="item in data | filter : searchKey">
                {{item.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
